@import "../src/index.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

.navbar{
  background-color: $darkbrown;
  a{
    color: $color;
    cursor: pointer;
  }
  a:hover{
    color: #9C9C9C;
  }
  img{
    max-width: 70px;
  }
  img:hover{
    opacity: .6;
  }
}

