@import "../src/index.scss";

a {
	color: $blue;
	font-weight: bold;
}
a:hover {
	color: $blue-hover;
	font-weight: bold;
}
a:active {
	color: $blue-active;
	font-weight: bold;
}
a:visited {
	color: $blue;
	font-weight: bold;
}

.error,
.invalid-feedback,
.required {
	color: $error !important;
	font-weight: bolder !important;
	margin-bottom: 0.1% !important;
	text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
}

.lightError {
	text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
	font-size: 1em;
}

.capstone {
	color: $yellow;
}

.navbar {
	background-color: $darkbrown;
	a {
		color: $color;
		cursor: pointer;
	}
	a:hover {
		color: #9c9c9c;
	}
	img {
		max-width: 70px;
	}
	img:hover {
		opacity: 0.6;
	}
	border-bottom: 2px solid $borderbrown;
	box-shadow: 2px 2px $borderbrown;
	.navbar-toggler:focus {
		color: $color;
	}
	.navbar-toggler {
		border: 3px $color solid;
		background-color: $color;
	}
	.signin {
		margin-right: 15px;
	}
	.welcome {
		margin-right: 15px;
		cursor: default;
		text-decoration: none;
		list-style-type: none;
		a:hover {
			color: $color !important;
		}
	}
	.dropdown-menu {
		background-color: $darkbrown;
	}
	.dropdown-item:hover {
		background-color: $borderbrown !important;
		color: $yellow !important;
	}
}

body {
	color: $color;
	font-family: "Source Sans Pro", sans-serif;
	width: 100%;
	font-size: 1.2em;
}

h1 {
	font-size: 3em;
}

h1,
h2 {
	font-family: "Satisfy", cursive;
	color: $yellow;
	text-align: center;
}

h2 {
	font-size: 2em;
}

.carousel {
	@include flex-center();
	margin: 3%;

	img {
		// height: 20%;
		@include border();
		@include borderRadiusContainers;
	}
}

.layout {
	padding-bottom: 100px;
}

footer {
	background-color: $darkbrown;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 0.5%;
	border-top: 2px solid $borderbrown;
	box-shadow: 2px 2px $borderbrown;
	z-index: 900;
	b {
		color: $error;
	}
}

.intro-txt {
	@include flex-center;
	margin-top: 2%;
	div {
		@include border();
		@include borderRadiusContainers;
		background-color: $lightBrown;
		padding: 0.5% 1%;
		max-width: 70%;
	}
}

.services,
.events {
	margin: 1%;
	padding: 0.5%;
	div {
		@include flex-center;
		li {
			list-style-type: none;
		}
	}
}

.servicesPage {
	@include button;
}

.about-txt {
	@include flex-center();
	div {
		@include flex-center();
		@include border();
		@include borderRadiusContainers;
		background-color: $lightBrown;
		padding: 1%;
		margin: 1%;
	}
	img {
		max-width: 35% !important;
		margin-right: 2%;
		@include border();
		@include borderRadiusContainers;
	}
}

.contact {
	.flex {
		margin-top: 3%;
		display: flex;
		flex-direction: row;
		margin-left: 15%;
		margin-right: auto;
		.form {
			@include border();
			@include borderRadiusContainers;
			margin-left: 10%;
			width: 25%;
			background-color: $lightBrown;
			padding: 2%;
			@include button;
			div {
				h3 {
					text-align: center;
					color: $yellow;
				}
				form {
					margin: 1%;
				}
				input,
				textarea {
					margin: 2%;
					width: 100%;
					@include borderRadius();
				}
				.btn {
					width: 100%;
					background-color: $blue;
					border: none;
					padding: 1% 2%;
					margin: 2%;
					@include borderRadius();
					font-size: 1.2em;
				}
				.btn:hover {
					background-color: $blue-hover;
					color: black;
				}
				.btn:active {
					background-color: $blue-active;
					color: black;
				}
				h4 {
					margin-top: 2%;
					text-align: center;
					a {
						font-weight: bold;
					}
				}
			}
			.calenderDiv {
				background-color: $lightBrown !important;
			}
		}
	}
}

.fc {
	@include borderRadiusContainers;
	@include border;
	background-color: $lightBrown !important;
	padding: 2%;
	width: 40vw;
	height: 610px;
	a {
		color: $color;
		text-decoration: none !important;
	}
	th {
		background-color: $darkbrown;
		a {
			color: $blue;
		}
	}
}

.fc-theme-standard td,
.fc-theme-standard th {
	border: 1px solid black;
}

.fc-theme-standard .fc-scrollgrid {
	border: 1px solid black !important;
}

.fc-day-today {
	background-color: $yellow !important;
	opacity: 0.6;
	border: 1px solid black;
	a {
		color: $black;
	}
}

.fc .fc-button-primary:hover {
	background-color: $blue-hover;
	border-color: none;
	color: black;
}

.fc .fc-button-primary:active {
	background-color: $blue-active !important;
	border-color: none !important;
	color: black !important;
}

.fc .fc-button-primary {
	background-color: $blue;
	border-color: none;
	color: black;
}

.fc .fc-button-primary:disabled {
	background-color: $blue;
	border-color: none;
	color: black;
}

.row {
	width: 100%;
}

.album {
	@include flex-center();
}

.s-container {
	width: 90%;

	.card {
		margin-top: 3%;
		background-color: $lightBrown;
		color: $color;
		max-height: 100%;
		@include border();
		@include borderRadiusContainers;
		h5 {
			color: $yellow;
			font-weight: bold;
		}
		.card-body {
			// max-height: 500px;
			ul {
				list-style: none;
			}
		}
		button {
			margin-left: 35%;
			@include button;
		}
	}
}

.product {
	@include button;
	h3,
	h4 {
		text-align: center;
		color: $yellow;
	}
	div {
		text-align: center;
		.customQty {
			width: 40px;
			@include border-radius;
		}
		button {
			margin-left: 2% !important;
		}
	}
}

.team {
	.info {
		display: flex;
		p {
			margin-top: 5%;
			margin-left: 2%;
		}
	}
	h2 {
		text-align: left;
	}
	img {
		max-width: 500px;
		max-height: 500px;
		@include border;
		@include borderRadiusContainers;
	}
	.teammember {
		background-color: $lightBrown;
		@include border;
		@include borderRadiusContainers;
		margin: 3%;
		padding: 1%;
		max-width: 65%;
		margin-left: 20%;
	}
	.name {
		margin-left: 5%;
	}
}

.login,
.signup,
.booking {
	.form {
		margin: 5%;
		@include flex-center;
		@include button;
		div {
			background-color: $darkbrown;
			padding: 3%;
			border: 5px solid $borderbrown;
			border-radius: 5px;
			@include borderRadiusContainers;
		}
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="tel"],
		textarea,
		select {
			@include borderRadius;
			margin: 1%;
			width: 100%;
		}
		button {
			width: 100%;
			margin: 1%;
		}
		input[type="checkbox"] {
			margin: 1%;
		}
		.show_pass {
			width: 100%;
		}
		.no-border {
			border: none;
		}
		.sub{
			text-align: center;
			color: $yellow;
			font-weight: bold;
			font-size: 1em;
		}
	}
}

.signup {
	div {
		margin: -2%;
	}
}

.container {
	max-width: 960px;
	h4 {
		color: $yellow;
	}
	.checkoutform {
		@include button;
		@include border();
		@include borderRadiusContainers;
		background-color: $lightBrown;
		.text-muted {
			color: #8e8e8e !important;
		}
		.cart {
			background-color: $darkbrown;
			@include border-brown;
			@include borderRadiusContainers;
			@include button;
		}
		.list-group-item {
			background-color: $darkbrown;
			color: $color;
			border-color: black;
		}
		.total {
			color: $yellow;
		}
	}
	.checkoutBtn {
		@include button;
		@include flex-center;
		button {
			@include button;
			max-width: 15vw;
			padding: 0.5%;
		}
	}
}

.cart {
	background-color: $darkbrown;
	@include border-brown;
	@include borderRadiusContainers;
	@include button;
	small,
	span {
		color: $color !important;
	}
	.list-group-item {
		background-color: $darkbrown;
		color: $color;
		border-color: black;
	}
	.total {
		color: $yellow;
	}

	.prices {
		color: $yellow;
		float: right;
	}

	.bi {
		cursor: pointer;
	}

	.bi:hover {
		filter: brightness(50%);
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		-ms-transition: all 1s ease;
		transition: all 1s ease;
	}
}

.clientPicBtn{
	@include button;
	@include flex-center;
}

.pics {
	@include flex-center;
	flex-wrap: wrap;
	margin-bottom: 1%;

	a {
		margin: 1%;
	}

	img {
		max-width: 500px;
		cursor: pointer;
		filter: brightness(100%);
	}

	img:hover {
		filter: brightness(50%);
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		-ms-transition: all 1s ease;
		transition: all 1s ease;
	}

	.delImage {
		@include button;
		margin-left: 35%;
	}

	div {
		margin: 1%;
		img {
			max-width: 500px;
			cursor: default;
			filter: brightness(100%);
		}

		img:hover {
			filter: brightness(100%);
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-o-transition: all 1s ease;
			-ms-transition: all 1s ease;
			transition: all 1s ease;
		}
	}
}

.admincontainer {
	@include button;
	.user {
		@include border();
		@include border-radius();
		@include borderRadiusContainers();
		background-color: $lightBrown;
		width: 30vw;
		padding: 2%;
		margin: 2%;
	}
	.users {
		@include flex-center();
		flex-direction: row;
		flex-wrap: wrap;
	}
	.adminbtns {
		@include flex-center;

		flex-direction: row;
		div {
			width: 50%;
			@include flex-center;
		}
		button {
			font-size: 1em;
			padding: 1%;
			margin: 0%, 7%;
		}
	}
	.userMsg {
		text-align: center;
		font-size: 1.4em;
		color: $yellow;
	}
	.adminSearch{
		@include flex-center;
		div{
			width: 35%;
			@include border;
			@include borderRadiusContainers;
			background-color: $lightBrown;
			padding: .5%;
			input{
				@include borderRadius;
				margin: 1%;
				width: 98%;
			}
		}
	}
}

.editImgsCont {
	@include button;
	.upload__image-wrapper {
		div {
			@include flex-center();
			flex-direction: row;
			flex-wrap: wrap;
			.flex {
				@include flex-center();
				flex-direction: row;
				flex-wrap: wrap;
			}
		}
	}
	.btnDiv {
		flex-direction: block;
		.buttons {
			@include flex-center;
		}
	}

	.image-item {
		@include border();
		@include border-radius();
		@include borderRadiusContainers();
		background-color: $lightBrown;
		width: 20vw;
		padding: 2%;
		margin: 1%;
	}
	img {
		width: 260px;
		float: center;
	}
}

.errorpg {
	@include flex-center();
	flex-direction: row;
	h1 {
		width: fit-content;
		margin-left: 2%;
		margin-bottom: 4%;
	}
	img {
		text-align: left;
		margin: 2%;
		@include border();
		@include borderRadiusContainers;
	}
	a {
		background-color: $blue;
		border: none;
		padding: 1% 2%;
		margin: 2%;
		@include borderRadius();
		color: black;
		text-decoration: none;
		margin-left: 25%;
		margin-top: 1%;
	}
	a:hover {
		background-color: $blue-hover;
	}
	a:active {
		background-color: $blue-active;
	}
}

.role_flex {
	@include flex-center();
	margin: 2%;
	.checkbox_form {
		@include borderRadiusContainers;
		@include border-brown;
		@include button;
		background-color: $lightBrown;
		padding: 2%;
		label,
		input {
			cursor: pointer;
		}
		.form-check {
			margin: none !important;
		}
		.disabled {
			cursor: not-allowed;
		}
		input:hover {
			background-color: $yellow;
		}
		button {
			padding: 4%;
			margin: 4%;
		}
	}
}

.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	@include button();
	.popup {
		background-color: $darkbrown;
		@include border-brown;
		@include borderRadiusContainers;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
		position: relative;
		width: 300px;
		max-width: 80%;
	}
	.close-button {
		width: 100%;
		cursor: pointer;
		font-size: 18px;
	}
	p {
		margin: 0;
	}
}

.order-con {
	@include flex-center;
	.order {
		background-color: $lightBrown;
		@include border;
		@include borderRadiusContainers;
		padding: 1%;
	}
	.orderInfo {
		@include flex-between;
		flex-direction: row;
		h4 {
			color: $yellow;
			text-align: center;
		}
	}
	.conProducts {
		flex-direction: row;
		.prices {
			float: right;
			color: $yellow;
			font-weight: bold;
		}
		.qty {
			margin-left: 1%;
		}
		.text-muted {
			color: #8e8e8e !important;
		}
	}
	.total {
		text-align: right;
		color: $yellow;
	}
}

.bookingInfo{
	@include flex-center;
	@include button;
	div{
		background-color: $lightBrown;
		@include border;
		@include borderRadiusContainers;
		padding: 1%;
		max-width: 90vw;
		button{
			width: 97%;
		}
		b{
			color: $yellow;
		}
		.message{
			max-width: 95%;
			word-wrap: normal;
			word-break: keep-all;
		}
	}
}

.footer {
	.container {
		max-width: 100%;
		font-size: medium;
		span {
			margin-right: 6.3%;
		}
	}
}

.loading-container{
	@include flex-center;
}

@keyframes ldio-t5ijoz38lif {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.ldio-t5ijoz38lif div {
	left: 113.4px;
	top: 35.28px;
	position: absolute;
	animation: ldio-t5ijoz38lif linear 0.8130081300813008s infinite;
	background: #e5cd75;
	width: 25.2px;
	height: 55.44px;
	border-radius: 12.6px / 27.72px;
	transform-origin: 12.6px 90.72px;
}
.ldio-t5ijoz38lif div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -0.7317073170731707s;
	background: #e5cd75;
}
.ldio-t5ijoz38lif div:nth-child(2) {
	transform: rotate(36deg);
	animation-delay: -0.6504065040650406s;
	background: #06a6a8;
}
.ldio-t5ijoz38lif div:nth-child(3) {
	transform: rotate(72deg);
	animation-delay: -0.5691056910569106s;
	background: #e5cd75;
}
.ldio-t5ijoz38lif div:nth-child(4) {
	transform: rotate(108deg);
	animation-delay: -0.4878048780487805s;
	background: #06a6a8;
}
.ldio-t5ijoz38lif div:nth-child(5) {
	transform: rotate(144deg);
	animation-delay: -0.4065040650406504s;
	background: #e5cd75;
}
.ldio-t5ijoz38lif div:nth-child(6) {
	transform: rotate(180deg);
	animation-delay: -0.3252032520325203s;
	background: #06a6a8;
}
.ldio-t5ijoz38lif div:nth-child(7) {
	transform: rotate(216deg);
	animation-delay: -0.24390243902439024s;
	background: #e5cd75;
}
.ldio-t5ijoz38lif div:nth-child(8) {
	transform: rotate(252deg);
	animation-delay: -0.16260162601626016s;
	background: #06a6a8;
}
.ldio-t5ijoz38lif div:nth-child(9) {
	transform: rotate(288deg);
	animation-delay: -0.08130081300813008s;
	background: #e5cd75;
}
.ldio-t5ijoz38lif div:nth-child(10) {
	transform: rotate(324deg);
	animation-delay: 0s;
	background: #06a6a8;
}
.loadingio-spinner-spinner-la1rcf32xa {
	width: 252px;
	height: 252px;
	display: inline-block;
	overflow: hidden;
	background: none;
}
.ldio-t5ijoz38lif {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-t5ijoz38lif div {
	box-sizing: content-box;
}
/* generated by https://loading.io/ */

@import "media.scss";
