@import "../src/index.scss";

a {
	color: $blue;
}
a:hover {
	color: $blue-hover;
}
a:active {
	color: $blue-active;
}
a:visited {
	color: $blue;
}

.error {
	color: $error;
	font-weight: bold;
}

.navbar {
	background-color: $darkbrown;
	a {
		color: $color;
		cursor: pointer;
	}
	a:hover {
		color: #9c9c9c;
	}
	img {
		max-width: 70px;
	}
	img:hover {
		opacity: 0.6;
	}
	border-bottom: 2px solid $borderbrown;
	box-shadow: 2px 2px $borderbrown;
	.navbar-toggler:focus {
		color: $color;
	}
	.navbar-toggler {
		border: 3px $color solid;
		background-color: $color;
	}
	.signin {
		margin-right: 15px;
	}
	.welcome {
		margin-right: 15px;
		cursor: default;
		a:hover {
			color: $color;
		}
	}
}

body {
	color: $color;
	font-family: "Source Sans Pro", sans-serif;
	width: 100%;
	font-size: 1.2em;
}

h1 {
	font-size: 3em;
}

h1,
h2 {
	font-family: "Satisfy", cursive;
	color: $yellow;
	text-align: center;
}

h2 {
	font-size: 2em;
}

.carousel {
	@include flex-center();
	margin: 3%;

	img {
		// height: 20%;
		@include border();
		@include borderRadiusContainers;
	}
}

.layout {
	padding-bottom: 100px;
}

footer {
	background-color: $darkbrown;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 0.5%;
	border-top: 2px solid $borderbrown;
	box-shadow: 2px 2px $borderbrown;
	b {
		color: $error;
	}
}

.intro-txt {
	@include flex-center;
	margin-top: 2%;
	div {
		@include border();
		@include borderRadiusContainers;
		background-color: $lightBrown;
		padding: 0.5% 1%;
		max-width: 70%;
	}
}

.services,
.events {
	margin: 1%;
	padding: 0.5%;
	div {
		@include flex-center;
		li {
			list-style-type: none;
		}
	}
}

.servicesPage {
	@include button;
}

.about-txt {
	@include flex-center();
	div {
		@include flex-center();
		@include border();
		@include borderRadiusContainers;
		background-color: $lightBrown;
		padding: 1%;
		margin: 1%;
	}
	img {
		max-width: 35% !important;
		margin-right: 2%;
		@include border();
		@include borderRadiusContainers;
	}
}

.flex {
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	margin-left: 15%;
	margin-right: auto;
	.form {
		@include border();
		@include borderRadiusContainers;
		margin-left: 15%;
		width: 25%;
		background-color: $lightBrown;
		padding: 2%;
		@include button;
		div {
			h3 {
				text-align: center;
				color: $yellow;
			}
			form {
				margin: 1%;
			}
			input,
			textarea {
				margin: 2%;
				width: 100%;
				@include borderRadius();
			}
			button {
				width: 100%;
			}
			h4 {
				margin-top: 2%;
				text-align: center;
				a {
					font-weight: bold;
				}
			}
		}
	}
}

.row {
	width: 100%;
}

.album {
	@include flex-center();
}

.s-container {
	width: 90%;

	.card {
		margin-top: 3%;
		background-color: $lightBrown;
		color: $color;
		max-height: 100%;
		@include border();
		@include borderRadiusContainers;
		h5 {
			color: $yellow;
			font-weight: bold;
		}
		.card-body {
			max-height: 500px;
			ul {
				list-style: none;
			}
		}
		img {
			max-height: 365px;
		}
		button {
			margin-left: 35%;
			@include button;
		}
	}
}

.team {
	.info {
		display: flex;
		p {
			margin-top: 5%;
			margin-left: 2%;
		}
	}
	h2 {
		text-align: left;
	}
	img {
		max-width: 500px;
		max-height: 500px;
		@include border;
		@include borderRadiusContainers;
	}
	.teammember {
		background-color: $lightBrown;
		@include border;
		@include borderRadiusContainers;
		margin: 3%;
		padding: 1%;
		width: 65%;
		margin-left: 20%;
	}
	.name {
		margin-left: 5%;
	}
}

.login,
.signup {
	.form {
		margin: 5%;
		@include flex-center;
		@include button;
		div {
			background-color: $darkbrown;
			padding: 3%;
			border: 5px solid $borderbrown;
			border-radius: 5px;
			@include borderRadiusContainers;
		}
		input {
			@include borderRadius;
			margin: 1%;
			width: 100%;
		}
		button {
			width: 100%;
			margin: 1%;
		}
	}
}

.signup {
	div {
		margin: -2%;
	}
}

.container {
	max-width: 960px;
	h4 {
		color: $yellow;
	}
	.checkoutform {
		@include button;
		@include border();
		@include borderRadiusContainers;
		background-color: $lightBrown;
	}
}

.pics {
	@include flex-center;
	flex-wrap: wrap;
	margin-bottom: 1%;
	img {
		max-width: 500px;
		margin: 0.5%;
	}
}

.admincontainer {
	@include flex-center;
	@include button;
	flex-direction: row;
	.adminbtns {
		width: 100vb;
		button {
			font-size: 1.3em;
			padding: 1%;
			margin: 0%, 7%;
		}
	}
}

.errorpg {
	@include flex-center();
	flex-direction: row;
	h1 {
		width: fit-content;
		margin-left: 2%;
		margin-bottom: 4%;
	}
	img {
		text-align: left;
		margin: 2%;
		@include border();
		@include borderRadiusContainers;
	}
	a {
		background-color: $blue;
		border: none;
		padding: 1% 2%;
		margin: 2%;
		@include borderRadius();
		color: black;
		text-decoration: none;
		margin-left: 25%;
		margin-top: 1%;
	}
	a:hover {
		background-color: $blue-hover;
	}
	a:active {
		background-color: $blue-active;
	}
}
